body {
  text-align: center;
  background-color: green;
  background-image:
  -webkit-linear-gradient(
    45deg, 
    rgb(64, 255, 0), 
    rgb(0, 195, 255)
  );
  width: 100vh;
  height: 100vh;
}

.form-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: bolder;
  padding-bottom: 40px;
  margin: 0px;
}

.wrap-content {
  border-radius: 8px;
  background-color: #f2f2f2;
  width: 500px;
}

.form-content {
  padding: 42px 55px;
}

.entry-section {
  margin-bottom: 25px;
}

.entry-input {
  margin-bottom: 25px;
}

.input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 1.5;
  padding: 0 5px;
  outline: none;
  border: none;
  overflow: visible;
  padding: 0px 5px 10px 5px;
  height: 40px;
  border-bottom: 2px solid #d9d9d9;
}

.input-label {
  float: left;
  padding-left: 5px;
}

.selection {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
  outline: none;
  border: none;
  overflow: visible;
  padding: 15px 5px;
  border-bottom: 2px solid #d9d9d9;
}

.message {
  height: 100px;
}

.submit {
  margin: 15px;
  padding: 5px;
  background-color: green;
  background-image:
  -webkit-linear-gradient(
    45deg, 
    rgb(0, 195, 255),
    rgb(64, 255, 0) 
  );
  border-radius: 25px;
  width: 350px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

